In [1]:
import fastparquet
import pandas as pd

In [4]:
# df_func_1 = pd.read_parquet("datasets/df_func_1.parquet")
df_rec = pd.read_parquet("datasets/df_games_with_recommendation_2.parquet")

In [6]:
df_func_1.head()

,user_id,user_url,item_id,recommend,review,date_posted,sentiment,item_name,price
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,1250,1,Simple yet with great replayability. In my opi...,2011-11-05,1,Killing Floor,19.99
1,76561197970982479,http://steamcommunity.com/profiles/76561197970...,1250,1,Simple yet with great replayability. In my opi...,2011-11-05,1,Killing Floor,19.99
2,76561197970982479,http://steamcommunity.com/profiles/76561197970...,1250,1,Simple yet with great replayability. In my opi...,2011-11-05,1,Killing Floor,19.99
3,76561197970982479,http://steamcommunity.com/profiles/76561197970...,1250,1,Simple yet with great replayability. In my opi...,2011-11-05,1,Killing Floor,19.99
4,76561197970982479,http://steamcommunity.com/profiles/76561197970...,1250,1,Simple yet with great replayability. In my opi...,2011-11-05,1,Killing Floor,19.99

In [7]:
def userdata(user_id : str):
    user = df_func_1[df_func_1['user_id'] == user_id]

    cantidad_items = user.item_id.count()

    dinero_gastado = user.price.sum()

    porcentaje_recomendacion = user.recommend.mean() * 100

    res = {
        "cantidad items": cantidad_items,
        "dinero gastado": f"{dinero_gastado:.2f}$",
        "porcentaje de recomendación": f"{porcentaje_recomendacion:.2f}%",
    }

    return res

In [8]:
user = input("ingrese un id de usuario\n")
userdata(user)

ingrese un id de usuario
 76561197970982479

{'cantidad items': 44,
 'dinero gastado': '859.56$',
 'porcentaje de recomendación': '100.00%'}

In [5]:
df_rec.head()

                           game recommended
0           Lost Summoner Kitty        None
1                     Ironbound        None
2       Real Pool 3D - Poolians        None
3         Battle Royale Trainer        None
4  SNOW - All Access Basic Pass        None